.child {
  display:flex;
  flex-direction:row;
  letter-spacing: 2px;
  text-transform:uppercase;
  margin: auto;

}

.child:before, 
.child:after { 
content: ""; 
flex-grow: 1;
flex-grow:2;  
border-bottom: 2px solid #C3C3E5;
} 
.card{
  width: 25%;
  margin:2%;
  display:flex;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px; 
  margin: 2%;
  margin-top:44px;
  background:#443266;
  box-shadow: 5px 2px rgba(195, 195, 229,.3 );
}
.name{
  color:white;
  text-transform: upperCase;
  font-size: 0.7rem;  
}


